<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">HOME</a></li>
		        	<li><a href="/about/index.html">ABOUT</a></li>
	        		<li><a href="/blog/">BLOG</a></li>
				<li><a href="/contact/">CONTACT</a></li>
				<li><a href="/submit/">SUBMIT</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:eballe23@students.oakwoodschool.org">email</a></li>
	        		<li><a href="https://losersanonymous.github.io">losersanonymous.github.com</a></li>
				</ul>
			</footer>
		</body>
	</html>
